/* responsive media query */

@media screen and (max-width: 1078px) {
    .mid-content{
        padding: 45px;
    }
    .place-media-box-single-layer, 
    .place-media-box-3-layer, 
    .place-media-box-2-layer{
        flex-direction: column;
    }
}
@media screen and (max-width: 992px) {
    .navbar{
        padding: 0px 0;
    }
    .navbar .menu{
        display: none;
    }
    .menu-btn{
        display: block;
        z-index: 999;
        color: var(--primary-color);
    }
    .navbar .logo-sec{
        width: 60%;
    }
    .secound{
        margin-top: 10px;
        margin-left: auto;
    }
    .about-container, .port-container{
        flex-direction: column;
    }
    .about-content, .port-content {
        width: 100%;
    }
    .about-media, .port-media {
        width: 100%;
        margin: 25px auto;
        text-align: center;
    }
    .place-media-box-single-layer, 
    .place-media-box-3-layer, 
    .place-media-box-2-layer{
        flex-direction: column;
    }
    .last-img {
        width: 50%;
    }
    .blog-box{
        flex-direction: column;
    }
    .card-3, .blog-card,
    .blog-card-extra {
        width: 85%;
        margin: 10px auto;
    }
    .dis-container{
        align-items: center;
        justify-content: center;
    }
    .dis-middle{
        align-items: center;
        justify-content: center;
    }
    .dis-content {
        width: 85%;
        margin: 0;
    }
    .btn{
        margin: 20px 0;
    }
    .price-container{
        flex-direction: column;
    }
    .price-box {
        width: 70%;
    }
    .news-box{
        flex-direction: column;
    }
    .news-right img {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .news-left {
        width: 89%;
    }
    .news-left input {
        width: 92%;
    }
    .footer-img {
        width: 30%;
    }
}   
@media screen and (max-width: 576px) {
    .mid-content{
        padding: 25px;
    }
    .navbar .logo-sec{
        width: 80%;
    }
    .navbar .logo-sec img {
        width: 18%;
        height: 18%;
    }
    .navbar .logo-sec .logo a {
        font-size: 30px;
        margin: 1px 0 0 14px;
    }
    .banner-content h2 {
        font-size: 30px;
    }
    .banner-content p {
        font-size: 14px;
        padding: 17px 0;
    }
    .banner-items input {
        width: 65%;
        padding: 8px;
        font-size: 15px;
        display: block;
        margin: 10px auto;
    }
    .banner-items input:first-child {
        margin-left: auto;
    }
    .banner-items span {
        left: -45px;
    }
    .secound {
        width: 71%;
    }
    .secound{
        margin: 0;
    }
    .about-container, .port-container{
        flex-direction: column;
    }
    .about-content, .port-content {
        width: 100%;
    }
    .about-media img, .port-media img {
        width: 100%;
        margin-top: 15px;
    }
    .card-single-layer, 
    .place-media-box-3-layer, 
    .place-media-box-2-layer{
        flex-direction: column;
        width: 100%;
    }
    .card-single-layer {
        display: flex;
        flex-direction: column;
        margin: 14px 0;
        gap: 18px;
    }
    .single-layer{
        margin-bottom: 10px;
    }
    .place-box img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
        margin: auto;
    }
    .blog-card-extra {
        width: 70%;
        margin: 10px auto;
    }
    .dis-con-heading p{
        flex-wrap: wrap;
    }
    .price-box {
        width: 100%;
    }
    .price-btn {
        width: 98%;
    }
    .news-left {
        width: 80%;
    }
    .news-left input {
        width: 83%;
    }
    .news-left .form-btn {
        width: 100%;
    }
    .footer-img {
        width: 55%;
    }
} 